html, document, body {
    margin: auto;
}

#appcanvas {
    position: absolute;
}

#acknowledge {
    position: absolute;
    width: 100%;
}

.acknowledge {
    font-size: 12px;
    font-family: monospace;
    color: #000;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 5px;
    display: none;
}

.acknowledge:hover {
    text-decoration: underline;
}

.b {
    font-weight: bold;
}

.u {
    text-decoration: underline;
}